{% extends "base.html" %}

{%block content%}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Android包列表（前30条） </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center table-hover" id="dataTable" width="100%" cellspacing="0"
                       style="font-size: 14px">
                    <thead>
                    <tr>
                        <th>版本号</th>
                        <th>包渠道</th>
                         <th>包签名</th>
                        <th>打包方式</th>
                        <th>代码分支</th>
                        <th>大数据环境</th>
                        <th>IT环境</th>
                        <th>IOT渠道</th>
                        <th>实时日志</th>
                        <th>本地日志</th>
                        <th>控制台</th>
                        <th>小能客服</th>
                        <th>极光推送</th>
                        <th>是否混淆</th>
                        <th>谷歌推送</th>
                        <th>包地址</th>
                        <th>符号表</th>
                        <th>打包时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for package in packages%}

                    <tr id="{{package.id}}">
                        <td style="font-size: 12px">ECOVACS HOME {{package.packageVersion}}
                                  <span class="text-danger">{{package.packageBuildVersion}}</span>
                            {{package.packageIOTVersion}}
                        </td>
                        <td>
                            {%if len(package.packageConfig["channel"]) %}
                            {{package.packageConfig["channel"]}}
                            {%else%}
                            全渠道
                            {%end%}
                        </td>
                        <td>
                           {%if package.packageConfig["app_signature"] == "release"%}
                            <span class="text-success">正式</span>
                            {%else%}
                            <span class="text-danger"> 测试</span>
                            {%end%}
                        </td>
                        <td>
                            autoPackging
                        </td>
                        <td>
                            {{package.packageConfig["branch"]}}
                        </td>
                        <td>
                            {%if package.packageConfig["big_data_env"] == "release"%}
                            <span class="text-success">  正式</span>
                            {%else%}
                            <span class="text-danger"> 测试</span>
                            {%end%}
                        </td>
                        <td>
                            {%if package.packageConfig["it_api_env"] == "release"%}
                            <span class="text-success">  正式</span>
                            {%else%}
                            <span class="text-danger"> 测试</span>
                            {%end%}
                        </td>
                        <td>
                            {{package.packageConfig["channel"]}}
                        </td>
                        <td>

                            {%if bool(package.packageConfig["intime_log_onoff"])%}
                            <span class="text-success">   开启</span>

                            {%else%}
                            <span class="text-danger">关闭</span>
                            {%end%}
                        </td>
                        <td>

                            {%if 'local_log_onoff' in package.packageConfig %}
                            {%if bool(package.packageConfig["local_log_onoff"])%}
                            <span class="text-success">   开启</span>
                            {%else%}
                            <span class="text-danger">关闭</span>
                            {%end%}
                            {%else%}
                            未知
                            {%end%}
                        </td>
                        <td>

                            {%if bool(package.packageConfig["console_log_onoff"])%}
                            <span class="text-success">   开启</span>
                            {%else%}
                            <span class="text-danger">关闭</span>
                            {%end%}
                        </td>

                        <td>
                            {%if package.packageConfig["xiaoneng"] == "release"%}
                            <span class="text-success">  正式</span>
                            {%else%}
                            <span class="text-danger"> 测试</span>
                            {%end%}
                        </td>

                        <td>
                            {%if package.packageConfig["jpush"] == "release"%}
                            <span class="text-success">  正式</span>
                            {%else%}
                            <span class="text-danger"> 测试</span>
                            {%end%}
                        </td>

                        <td>
                            {%if bool(package.packageConfig["proguard"])%}
                            <span class="text-success">   开启</span>
                            {%else%}
                            <span class="text-danger">关闭</span>
                            {%end%}
                        </td>


                        <td>
                            {%if package.packageConfig["firebase"] == "release"%}
                            <span class="text-success">  正式</span>
                            {%else%}
                            <span class="text-danger"> 测试</span>
                            {%end%}
                        </td>


                        <td>

                            {%if len(package.packagePath)%}
                            <a href="{{package.packagePath}}" class="btn  btn-link btn-xs"
                               style="padding: 0;!important;font-size: 13px">
                                下载
                            </a>
                            {%end%}
                        </td>
                        <td>
                            {%if len(package.packageSymbolPath)%}
                            <a href="{{package.packageSymbolPath}}" class="btn  btn-link btn-xs "
                               style="padding: 0;!important;font-size: 13px">
                                下载
                            </a>
                            {%end%}
                        </td>
                        <td>{{package.packageTimeString}}</td>
                        <td>
                            {%if package.packageState ==1%}
                            <span class="text-warning">打包中...</span>
                            {%end%}
                            {%if package.packageState ==2%}
                            <span class="text-success"> 打包成功</span>
                            {%end%}
                            {%if package.packageState ==3%}
                            <span class="text-danger"> 打包失败</span>
                            {%end%}
                            {%if package.packageState ==4%}
                            <span class="text-success"> 上传成功</span>
                            {%end%}
                        </td>
                        <td>
                            {%if package.packageState ==2%}
                            <button type="button" class="btn btn-success btn-sm"
                                    onclick="uploadPackage('{{package.id}}')">发布到软件库
                            </button>
                            {%end%}

                        </td>
                    </tr>
                    {%end%}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%end%}
{%block javascript%}

{%end%}