<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/1.5.1/fingerprint2.min.js"></script>

<script>

    varoptions = {excludeUserAgent: true};


    new Fingerprint2(varoptions).get(function (result, components) {
        alert(result);
        console.log(result); //a hash, representing your device fingerprint
        console.log(components); // an array of FP components
    });


</script>