{% extends "base.html" %}
{%block content%}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">数据统计</h1>

    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-info mb-1">iOS Build
                            </div>
                            <div class="text-xs mb-0  text-gray-800" style="font-size: 15px;">build <span class="text-danger"> {{ios_build_number}} </span>次
                                当前build号 <span class="text-danger"> {{ios_build_number+12345}} </span></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-info mb-1">Android Build
                            </div>
                            <div class=" mb-0  text-gray-800" style="font-size: 15px;">build <span class="text-danger"> {{android_build_number}} </span>次
                                当前build号 <span class="text-danger"> {{android_build_number+12345}} </span></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-info mb-1">iOS 打包次数</div>
                            <div class="row no-gutters align-items-center">
                                <div class="mb-0 text-xs text-gray-800"><a href="/ios_release"
                                                                           class="btn  btn-link btn-xs"
                                                                           style="padding: 0;!important;font-size: 15px">
                                    {{ios_package_count}} 次
                                </a></div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-info mb-1">Android 打包次数

                            </div>
                            <div class="mb-0 text-xs text-gray-800"><a href="/android_release"
                                                                           class="btn  btn-link btn-xs"
                                                                           style="padding: 0;!important;font-size: 15px">
                                    {{android_package_count}} 次
                                </a></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
</div>
{%end%}