{% extends "base.html" %}

{%block content%}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">iOS包列表（前30条）   <span class="text-danger" style="margin-left: 20px; font-size: 13px;">请仔细核对build号再上传Appstore</span></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center table-hover" id="dataTable" width="100%" cellspacing="0"
                       style="font-size: 14px">
                    <thead>
                    <tr>
                        <th>版本号</th>
                        <th>包签名</th>
                        <th>包类型</th>
                        <th>代码分支</th>
                        <th>大数据环境</th>
                        <th>IT环境</th>
                        <th>IOT渠道</th>
                        <th>实时日志</th>
                        <th>本地日志</th>
                        <th>控制台</th>
                        <th>包地址</th>
                        <th>符号表</th>
                        <th>打包时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for package in packages%}

                    <tr id="{{package.id}}">
                        <td style="font-size: 11px">ECOVACS HOME {{package.packageVersion}}
                            <span class="text-danger">{{package.packageBuildVersion}}</span>
                            {{package.packageIOTVersion}}
                        </td>
                        <td>
                            {%if package.packageConfig["sign"] == 1%}
                            内测带推送
                            {%end%}
                            {%if package.packageConfig["sign"] == 2%}
                            adhoc
                            {%end%}

                            {%if package.packageConfig["sign"] == 3%}
                            企业包
                            {%end%}

                            {%if package.packageConfig["sign"] == 4%}
                            App Store包
                            {%end%}
                        </td>
                        <td>
                            {{package.packageConfig["debug"]}}
                        </td>
                        <td>
                            {{package.packageConfig["branch"]}}
                        </td>
                        <td>
                            {%if package.packageConfig["big_data_env"] == "release"%}
                            <span class="text-success">  正式</span>
                            {%else%}
                            <span class="text-danger"> 测试</span>
                            {%end%}
                        </td>
                        <td>
                            {%if package.packageConfig["it_api_env"] == "release"%}
                            <span class="text-success">  正式</span>
                            {%else%}
                            <span class="text-danger"> 测试</span>
                            {%end%}
                        </td>
                        <td>{{package.packageConfig["package_channel"]}}</td>
                        <td>
                            {%if bool(package.packageConfig["intime_log_onoff"])%}
                            <span class="text-success">   开启</span>

                            {%else%}
                            <span class="text-danger">关闭</span>
                            {%end%}
                        </td>
                        <td>
                            {%if bool(package.packageConfig["local_log_onoff"])%}
                            <span class="text-success">   开启</span>
                            {%else%}
                            <span class="text-danger">关闭</span>
                            {%end%}
                        </td>
                        <td>
                            {%if bool(package.packageConfig["console_log_onoff"])%}
                            <span class="text-success">   开启</span>
                            {%else%}
                            <span class="text-danger">关闭</span>
                            {%end%}
                        </td>
                        <td>
                            {%if package.packageState !=4%}
                            {%if len(package.packagePath)%}
                            <a href="{{package.packagePath}}" class="btn  btn-link btn-xs"
                               style="padding: 0;!important;font-size: 13px">
                                下载
                            </a>
                            {%end%}
                            {%else%}
                            已上传TestFlight
                            {%end%}

                        </td>
                        <td>
                            {%if len(package.packageSymbolPath)%}
                            <a href="{{package.packageSymbolPath}}" class="btn  btn-link btn-xs "
                               style="padding: 0;!important;font-size: 13px">
                                下载
                            </a>
                            {%end%}
                        </td>
                        <td><span style="font-size: 11px">{{package.packageTimeString}}</span></td>
                        <td>
                            {%if package.packageState ==1%}
                            <span class="text-warning">打包中...</span>
                            {%end%}
                            {%if package.packageState ==2%}
                            <span class="text-success"> 打包成功</span>
                            {%end%}
                            {%if package.packageState ==3%}
                            <span class="text-danger"> 打包失败</span>
                            {%end%}
                            {%if package.packageState ==4%}
                            <span class="text-success"> 上传成功</span>
                            {%end%}
                             {%if package.packageState ==5%}
                            <span class="text-warning">上传中...</span>
                            {%end%}
                        </td>
                        <td>
                            {%if package.packageConfig["sign"] == 4 %}
                            {%if package.packageConfig["big_data_env"] == "release" %}
                            {%if package.packageConfig["it_api_env"] == "release" %}
                            {%if package.packageConfig["package_channel"] == "c_appstore" %}
                            {%if package["packageState"] == 2 %}
                            <button type="button" class="btn btn-success btn-sm"
                                    onclick="uploadPackage('{{package.id}}')">上传AppStore
                            </button>
                            {%end%}
                            {%end%}
                            {%end%}
                            {%end%}
                            {%end%}
                        </td>
                    </tr>
                    {%end%}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">处理结果</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="color: red"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-dismis">知道了
                </button>
            </div>
        </div>
    </div>
</div>

{%end%}
{%block javascript%}
<script src="/static/js/ios_package1.js"></script>
{%end%}