{% extends "base.html" %}

{%block content%}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">自动打包</h1>

    </div>
    <!-- Content Row -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">iOS自动打包</h6>

        </div>
        <div class="card-body" style="clear: both">
            <div class="col-lg-12 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <div class=" control-group">
                    <div class="form-group col-xs-12  controls">
                        <!--<input type="text" class="form-control" placeholder="分支名称(必填)" id="branch_name">-->
                        <select class="form-control control-option" id="branch_name">
                            <option>请选择要打包的分支</option>
                            {%for b in branches%}
                            <option value="{{b}}">{{b}}</option>
                            {%end%}
                        </select>
                    </div>
                </div>

                <div class=" control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <select class="form-control control-option" id="sign">
                            <option>请选择要签名方式</option>
                            <option value="1">内测版-带推送</option>
                            <option value="2">AdHoc版</option>
                            <option value="3">企业版签名</option>
                            <option value="4">AppStore包</option>
                        </select>
                    </div>
                </div>

                <div class=" control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <select class="form-control control-option" id="debug">
                            <option>请选择要打包的方式</option>
                            <option value="1">Debug</option>
                            <option value="2">Release</option>
                        </select>
                    </div>
                </div>


                <div class=" control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <select class="form-control control-option" id="it_api_env">
                            <option>请选择API环境</option>
                            <option value=test>API环境:测试环境</option>
                            <option value="release">API环境:正式环境</option>
                        </select>
                    </div>
                </div>


                <div class=" control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <select class="form-control control-option" id="big_data_env">
                            <option>请选择大数据环境</option>
                            <option value="test">大数据环境:测试环境</option>
                            <option value="release">大数据环境:正式环境</option>
                        </select>
                    </div>
                </div>

                <div class=" control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <select class="form-control control-option" id="package_channel">
                            <option>请选择IOT渠道</option>
                            <option value="c_test">IOT渠道:c_test</option>
                            <option value="c_appstore">IOT渠道:c_appstore</option>
                        </select>
                    </div>
                </div>

                <div class=" control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <select class="form-control control-option" id="intime_log_onoff">
                            <option>请选择是否开启实时日志</option>
                            <option value="0">实时日志:关闭</option>
                            <option value="1">实时日志:开启</option>
                        </select>
                    </div>
                </div>


                <div class=" control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <select class="form-control control-option" id="local_log_onoff">
                            <option>请选择是否开启本地日志</option>
                            <option value="0">本地日志:关闭</option>
                            <option value="1">本地日志:开启</option>
                        </select>
                    </div>
                </div>

                <div class=" control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <select class="form-control control-option" id="console_log_onoff">
                            <option>请选择是否开启控制台输出</option>
                            <option value="0">控制台输出:关闭</option>
                            <option value="1">控制台输出:开启</option>
                        </select>
                    </div>
                </div>

                <div class=" control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <input type="email" class="form-control" placeholder="邮箱地址(必填),多个以,分割" id="email">
                    </div>
                </div>

                <div class=" control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                            <textarea rows="3" class="form-control" placeholder="Message(更新内容,测试范围等)"
                                      id="note"></textarea>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="form-group col-xs-12" style="text-align: center">
                    <button type="btn" class="btn btn-outline-primary btn-lg" id="go">立即打包</button>     <button type="btn" class="btn btn-outline-primary btn-lg" onclick="auto_complete_appstore()">一键AppStore包</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Content Row -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">处理结果</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="color: red"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="modal-dismis">知道了
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>

{%end%}
{%block javascript%}
<script src="/static/js/ios_package1.js"></script>

{%end%}