{% extends "base.html" %}

{%block content%}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">iOS证书下载</h1>

    </div>
    <div class="row">

        <div class="col-lg-6">

            <!-- Default Card Example -->
            <div class="card mb-4">
                <div class="card-header">
                    iOS企业证书下载
                </div>
                <div class="card-body text-center" >
                    <div class="text-center col-lg-2">  <a href="/static/ipas/p12.zip" class="btn btn-primary btn-user btn-block">
                        点击下载
                    </a></div>
                  </div>
            </div>


        </div>

        <div class="col-lg-6">

            <!-- Default Card Example -->
            <div class="card mb-4">
                <div class="card-header">
                    iOS内测证书下载
                </div>
                <div class="card-body">
                    <div class="text-center col-lg-2">  <a href="/static/ipas/adhoc.zip" class="btn btn-primary btn-user btn-block">
                        点击下载
                    </a></div>
                </div>
            </div>


        </div>


    </div>
</div>
{%end%}
{%block javascript%}
<script src="/static/js/android_package.js"></script>

{%end%}